In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
weatherVac = pd.read_csv("WeatherPy_vacation.csv")
weatherVac.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,2,Pangai,TO,75.20,broken clouds,-19.80,-174.35,Ha'apai Beach Resort
1,7,Pringsewu,ID,86.14,broken clouds,-5.36,104.97,Urban Style by Front One
2,14,Belogorsk,RU,85.32,clear sky,50.92,128.46,Hotel Malina
3,15,Beidao,CN,79.95,overcast clouds,34.57,105.89,Shell Tianshui Maiji District Erma Road Walkin...
4,23,Salalah,OM,80.60,drizzle,17.02,54.09,HAMDAN PLAZA HOTEL

In [3]:
Laguna_df = weatherVac.loc[(weatherVac["City"] == "Laguna")]
South_Lake_Tahoe_df = weatherVac.loc[(weatherVac["City"] == "South Lake Tahoe")]
Fallon_df = weatherVac.loc[(weatherVac["City"] == "Fallon")]
Susanville_df = weatherVac.loc[(weatherVac["City"] == "Susanville")]
print(Laguna_df)
print(Fallon_df)
print(South_Lake_Tahoe_df)
print(Susanville_df)

    City_ID    City Country  Max Temp Current Weather    Lat     Lng  \
86      330  Laguna      US     93.99       clear sky  38.42 -121.42

                                           Hotel Name
86  Holiday Inn Express & Suites Elk Grove Central...
    City_ID    City Country  Max Temp Current Weather    Lat     Lng  \
63      260  Fallon      US      96.8       clear sky  39.47 -118.78

                          Hotel Name
63  Best Western Fallon Inn & Suites
    City_ID              City Country  Max Temp Current Weather    Lat  \
46      193  South Lake Tahoe      US     82.99       clear sky  38.93

       Lng                   Hotel Name
46 -119.98  Tahoe Lakeshore Lodge & Spa
    City_ID        City Country  Max Temp Current Weather    Lat     Lng  \
56      223  Susanville      US      86.0       clear sky  40.42 -120.65

                          Hotel Name
56  Red Lion Inn & Suites Susanville

In [7]:
LagunaTuple = (38.42, -121.42)
South_Lake_TahoeTuple = (38.93, -119.98)
FallonTuple = (39.47, -118.78)
SusanvilleTuple = (40.42 -120.65)

In [15]:
df1 = pd.concat([Laguna_df, South_Lake_Tahoe_df])
df1

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
86,330,Laguna,US,93.99,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
46,193,South Lake Tahoe,US,82.99,clear sky,38.93,-119.98,Tahoe Lakeshore Lodge & Spa

In [16]:
df2 = pd.concat([df1, Fallon_df])
df2

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
86,330,Laguna,US,93.99,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
46,193,South Lake Tahoe,US,82.99,clear sky,38.93,-119.98,Tahoe Lakeshore Lodge & Spa
63,260,Fallon,US,96.80,clear sky,39.47,-118.78,Best Western Fallon Inn & Suites

In [17]:
Travel_df = pd.concat([df2, Susanville_df])
Travel_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
86,330,Laguna,US,93.99,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
46,193,South Lake Tahoe,US,82.99,clear sky,38.93,-119.98,Tahoe Lakeshore Lodge & Spa
63,260,Fallon,US,96.80,clear sky,39.47,-118.78,Best Western Fallon Inn & Suites
56,223,Susanville,US,86.00,clear sky,40.42,-120.65,Red Lion Inn & Suites Susanville

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in Travel_df.iterrows()]

In [24]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)
locations = Travel_df[["Lat", "Lng"]]

# Latitude-longitude pairs
Laguna = (38.42, -121.42)
South_Lake_Tahoe = (38.93, -119.98)
Fallon = (39.47, -118.78)
Susanville = (40.42, -120.65)

fig = gmaps.figure()
LagunaT = gmaps.directions_layer(Laguna, Susanville, waypoints=[South_Lake_Tahoe, Fallon], travel_mode='DRIVING')
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(LagunaT)
fig

Figure(layout=FigureLayout(height='420px'))