In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mar Del Plata,-38.00,-57.56,42.80,75,0,12.75,AR,2020-07-11 01:57:22
1,1,Chala,-7.58,31.27,54.64,85,89,4.65,TZ,2020-07-11 02:00:34
2,2,Punta Arenas,-53.15,-70.92,30.20,92,98,10.29,CL,2020-07-11 01:59:37
3,3,Nikolskoye,59.70,30.79,57.20,93,90,2.24,RU,2020-07-11 02:00:34
4,4,Kapaa,22.08,-159.32,84.20,66,40,14.99,US,2020-07-11 01:57:25

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Kapaa,22.08,-159.32,84.20,66,40,14.99,US,2020-07-11 01:57:25
5,5,Bilma,18.69,12.92,89.35,20,41,8.79,NE,2020-07-11 02:00:35
11,11,Hilo,19.73,-155.09,84.20,54,90,12.75,US,2020-07-11 02:00:35
16,16,Vaini,-21.20,-175.20,77.00,83,40,11.41,TO,2020-07-11 02:00:36
19,19,Makakilo City,21.35,-158.09,87.80,51,75,11.41,US,2020-07-11 02:00:36
21,21,Carbondale,37.73,-89.22,78.80,65,1,5.08,US,2020-07-11 02:00:36
22,22,Hithadhoo,-0.60,73.08,83.57,73,97,7.74,MV,2020-07-11 02:00:36
27,27,Amalapuram,16.58,82.02,83.01,79,99,5.28,IN,2020-07-11 02:00:37
34,34,Atuona,-9.80,-139.03,79.90,78,13,19.57,PF,2020-07-11 02:00:37
44,44,Tatebayashi,36.25,139.53,86.00,19,100,1.99,JP,2020-07-11 02:00:38

In [25]:
preferred_cities_df.count()

City_ID       201
City          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
Country       201
Date          201
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                             City Country  Max Temp    Lat     Lng Hotel Name
4                           Kapaa      US     84.20  22.08 -159.32
5                           Bilma      NE     89.35  18.69   12.92
11                           Hilo      US     84.20  19.73 -155.09
16                          Vaini      TO     77.00 -21.20 -175.20
19                  Makakilo City      US     87.80  21.35 -158.09
..                            ...     ...       ...    ...     ...        ...
562                Nuevo Progreso      MX     82.99  23.17  -97.95
564  Sao Raimundo Das Mangabeiras      BR     76.96  -7.02  -45.48
565                    Hambantota      LK     78.80   6.12   81.12
568                   Mitsamiouli      KM     76.48 -11.38   43.28
570                          Alma      CA     82.40  48.55  -71.65

[201 rows x 6 columns]

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found, skipped")

Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped
Hotel not found, skipped

In [38]:
 hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kapaa,US,84.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
5,Bilma,NE,89.35,18.69,12.92,Expeditions Ténére voyages
11,Hilo,US,84.20,19.73,-155.09,Hilo Hawaiian Hotel
16,Vaini,TO,77.00,-21.20,-175.20,Keleti Beach Resort
19,Makakilo City,US,87.80,21.35,-158.09,Marriott's Ko Olina Beach Club
...,...,...,...,...,...,...
562,Nuevo Progreso,MX,82.99,23.17,-97.95,Balneario Rio el Paraiso
564,Sao Raimundo Das Mangabeiras,BR,76.96,-7.02,-45.48,Hotel Tropical
565,Hambantota,LK,78.80,6.12,81.12,Bungalow 63
568,Mitsamiouli,KM,76.48,-11.38,43.28,Foyer ADM
570,Alma,CA,82.40,48.55,-71.65,Hotel Universel

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))